@define-color blue_3 #3584E4;
@define-color purple_1 #DC8ADD;
@define-color purple_3 #9141AC;
@define-color purple_4 #813D9C;
@define-color light_1 #FFFFFF;
@define-color light_2 #F6F5F4;
@define-color light_3 #DEDDDA;
@define-color dark_3 #3D3846;
@define-color yellow_5 #E5A50A;
@define-color red_3 #E01B24;

@define-color background @light_1;
@define-color foreground @dark_3;
@define-color accent @purple_4;
@define-color accent_bg @purple_3;
@define-color accent_fg @light_2;
@define-color accent_bg_hover @purple_1;


* {
    font-family: "Comic Shanns Mono Nerd Font";
    font-size: 15px;
    border-radius: 0px;
    margin: 1px 0px 0px 0px;
}


window#waybar { 
    background-color: @background; 
    color: @foreground; 
}


.modules-left {
    background-color: @background;
    padding: 0px 0px 0px 5px;
}


.modules-right {
    background-color: @background;
    padding: 0px 7px 0px 0px;
}


#custom-scratch {
    background-color: @background;
    color: @foreground;
    padding: 0px 7px 0px 7px;
}


#workspaces {
}


#workspaces button {
    padding: 0px 5px 0px 5px; 
    margin: 2px 3px 2px 3px;
    min-width: 7px;
    color: @foreground;
    border: none;
}


#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    padding: 0px 5px 0px 5px;
    color: @accent_fg;
    background-color: @accent_bg_hover;
    border-radius: 13px;
}


#workspaces button.focused { 
    padding: 0px 5px 0px 5px;
    color: @accent_fg;
    background-color: @accent_bg;
    border-radius: 13px;
}


#mode {
    background-color: @light_3;
    color: @foreground;
    padding: 0px 5px 0px 5px;
}


#window {
    /*margin: 3px 0px 3px 10px;*/
    padding: 0px 7px 0px 7px;
    color: @foreground;
    /*background-color: @light_3;
    border-radius: 13px;*/
}


window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}


window#waybar.empty {
    background-color: @background;
}

#privacy {
    padding: 0px 10px 0px 10px;
}

custom-reboot, #custom-suspend, #network, #temperature, #pulseaudio, #pulseaudio-slider, #backlight-slider {
    padding: 0px 6px 0px 6px;
    font-size: 17px;
}

#temperature {
    padding: 0px 2px 0px 6px;
}

#power-profiles-daemon {
    padding: 0px 8px 0px 3px;
    font-size: 17px;
}

#battery {
    padding: 2px 10px 0px 4px;
    font-size: 17px;
}

#backlight {
    padding: 0px 8px 2px 6px;
    font-size: 18px;
}

#custom-logout {
    padding: 0px 8px 0px 6px;
    font-size: 16px;
}

#custom-power {
    margin: 0px 0px 0px 0px;
    padding: 0px 11px 0px 5px;
    font-size: 16px
}

#powermenu {
    margin: 3px 0px 3px 13px;
    color: @accent_fg;
    background-color: @accent_bg;
    border-radius: 13px;
}

#custom-notifications {
    padding: 0px 7px 0px 7px; 
    color: @foreground;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    margin: 0px 0px 3px 0px;
    min-height: 10px;
    min-width: 70px;
    border-radius: 13px;
    background-color: @light_3;
    border: none;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 13px;
    border: none;
    background-color: @accent;
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough {
    margin: 0px 0px 1px 0px;
    min-height: 10px;
    min-width: 70px;
    border-radius: 13px;
    background-color: @light_3;
    border: none;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 13px;
    border: none;
    background-color: @accent;
}

#clock {
    margin: 0px 0px 0px 0px;
}


#tray {
    margin: 0px 13px 0px 13px;
}

#network.disconnected {
    color: @red_3;
}

#privacy-item.screenshare {
    color: @yellow_5;
}

#privacy-item.audio-out {
    color: @red_3;
}
