* {
    font-family: "Comic Shanns Mono Nerd Font";
    font-size: 13px;
    border-radius: 2px;
}


window#waybar { 
    background-color: #3c3836; 
    color: #ebdbb2;    
}


.modules-left {
    background-color: #282828;
    padding: 0px 0px 0px 0px;
}


.modules-right {
    background-color: #282828;
    padding: 0px 5px 0px 0px;
}


#custom-scratch {
    background-color: #282828;
    color: #ebdbb2;
    padding: 0px 7px 0px 7px;
}


#workspaces {
}


#workspaces button {
    padding: 0px 7px 0px 7px; 
    min-width: 1px;
    color: #a89984;
}


#workspaces button.focused { 
    padding: 0px 7px 0px 7px; 
    color: #fbf1c7;
}


#mode { 
	background-color: #282828;
	color: #ebdbb2;
    padding: 0px 5px 0px 5px;
}


#window {
	 color: #ebdbb2;
	 background-color: #3c3836;
     padding: 0px 7px 0px 7px;
}


window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}


window#waybar.empty {
    background-color: #282828;
}


#temperature, #pulseudio, #privacy {
    padding: 0px 10px 0px 10px;
}

#network {
    padding: 0px 5px 0px 10px;
}
    

#clock {
    margin: 0px 5px 0px 10px;
}


#tray{
    padding: 0px 8px 0px 5px;
    margin: 0px 5px 0px 5px;
}



#network.disconnected {
    color: #cc241d;
}


#privacy-item.screenshare {
    color: #d79921;
}


#privacy-item.audio-in {
    color: #689d6a;
}


#privacy-item.audio-out {
    color: #458588;
}
