[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -t 5000 -l 45.7 -L 4.8
Restart=on-failure
